@media (max-width: 600px) {
  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
  }
  .logo {
    margin-left: 1rem;
  }
  .logo img {
    width: 50vw;
  }
  .menu-mobile {
    margin-right: 1rem;
  }
}
